In [3]:
import pandas as pd

In [4]:
import numpy as np

In [5]:
sozluk1={"ısım":["Ahmet","Mehmet","Zeynep","Atıl"],
        "spor":["Basketbol","Voleybol","Futbol","Tenis"],
        "kalori":[100,200,300,400]}

In [6]:
sozluk1

{'ısım': ['Ahmet', 'Mehmet', 'Zeynep', 'Atıl'],
 'spor': ['Basketbol', 'Voleybol', 'Futbol', 'Tenis'],
 'kalori': [100, 200, 300, 400]}

In [7]:
sozluk2={"ısım":["Ali","Veli","Osman","Kamil"],
        "spor":["Basketbol","Voleybol","Yüzme","Tenis"],
        "kalori":[150,220,500,400]}

In [8]:
sozluk3={"ısım":["Hamdi","Timur","Asım","Efe"],
        "spor":["Basketbol","Espor","Futbol","Koşu"],
        "kalori":[180,250,820,310]}

In [9]:
dt1=pd.DataFrame(sozluk1,index=[0,1,2,3])

In [10]:
dt2=pd.DataFrame(sozluk2,index=[4,5,6,7])

In [11]:
dt3=pd.DataFrame(sozluk3,index=[8,9,10,11])

In [12]:
dt2

    ısım       spor  kalori
4    Ali  Basketbol     150
5   Veli   Voleybol     220
6  Osman      Yüzme     500
7  Kamil      Tenis     400

In [13]:
grp=dt1.groupby("spor")

In [14]:
grp.describe()

          kalori
           count   mean std    min    25%    50%    75%    max
spor
Basketbol    1.0  100.0 NaN  100.0  100.0  100.0  100.0  100.0
Futbol       1.0  300.0 NaN  300.0  300.0  300.0  300.0  300.0
Tenis        1.0  400.0 NaN  400.0  400.0  400.0  400.0  400.0
Voleybol     1.0  200.0 NaN  200.0  200.0  200.0  200.0  200.0

In [15]:
dt=pd.concat([dt1,dt2,dt3])

In [16]:
grp=dt.groupby("spor")

In [17]:
grp

In [32]:
grp.describe()

          kalori
           count        mean         std    min    25%    50%    75%    max
spor
Basketbol    3.0  143.333333   40.414519  100.0  125.0  150.0  165.0  180.0
Espor        1.0  250.000000         NaN  250.0  250.0  250.0  250.0  250.0
Futbol       2.0  560.000000  367.695526  300.0  430.0  560.0  690.0  820.0
Koşu         1.0  310.000000         NaN  310.0  310.0  310.0  310.0  310.0
Tenis        2.0  400.000000    0.000000  400.0  400.0  400.0  400.0  400.0
Voleybol     2.0  210.000000   14.142136  200.0  205.0  210.0  215.0  220.0
Yüzme        1.0  500.000000         NaN  500.0  500.0  500.0  500.0  500.0

In [18]:
dt

      ısım       spor  kalori
0    Ahmet  Basketbol     100
1   Mehmet   Voleybol     200
2   Zeynep     Futbol     300
3     Atıl      Tenis     400
4      Ali  Basketbol     150
5     Veli   Voleybol     220
6    Osman      Yüzme     500
7    Kamil      Tenis     400
8    Hamdi  Basketbol     180
9    Timur      Espor     250
10    Asım     Futbol     820
11     Efe       Koşu     310