In [1]:
import numpy as np
import pandas as pd

In [36]:
liste=np.random.randint(0,60,30)

In [37]:
liste

array([56, 29, 26, 31, 10, 11, 45, 47, 40, 22, 40, 59, 48, 36, 10, 14, 52,
       44, 26, 28, 14, 20, 25, 36,  1, 12, 56,  1, 13, 49])

In [38]:
liste=liste.reshape(5,6)

In [39]:
liste

array([[56, 29, 26, 31, 10, 11],
       [45, 47, 40, 22, 40, 59],
       [48, 36, 10, 14, 52, 44],
       [26, 28, 14, 20, 25, 36],
       [ 1, 12, 56,  1, 13, 49]])

In [40]:
matris=pd.DataFrame(liste,["ocak","şubat","mart","nisan","mayıs"],["yem","süt","elektrik","su","at","avrat"])

In [41]:
matris

       yem  süt  elektrik  su  at  avrat
ocak    56   29        26  31  10     11
şubat   45   47        40  22  40     59
mart    48   36        10  14  52     44
nisan   26   28        14  20  25     36
mayıs    1   12        56   1  13     49

In [42]:
matris.loc["ocak"]

yem         56
süt         29
elektrik    26
su          31
at          10
avrat       11
Name: ocak, dtype: int32

In [43]:
matris["avrat"]["mart"]

44

In [44]:
matris

       yem  süt  elektrik  su  at  avrat
ocak    56   29        26  31  10     11
şubat   45   47        40  22  40     59
mart    48   36        10  14  52     44
nisan   26   28        14  20  25     36
mayıs    1   12        56   1  13     49