In [1]:
import numpy as np

In [2]:
import pandas as pd

In [25]:
sozluk={"Karakter Sınıfı":["Büyücü","Büyücü","Tank","Tank","Tank"],
       "Karakter İsmi":["Syndra","Fizz","Garen","Kayn/Rast","Kayn/Rast"],
        "Ormancımı":["Hayır","Evet","Hayır","Evet","Evet"],
       "Karakter Gücü":[6,8,9,3,9]}

In [26]:
dt1=pd.DataFrame(sozluk)

In [27]:
dt1.pivot_table(values="Karakter Gücü",index=["Karakter Sınıfı","Ormancımı","Karakter İsmi"],aggfunc=np.sum)

                                         Karakter Gücü
Karakter Sınıfı Ormancımı Karakter İsmi
Büyücü          Evet      Fizz                       8
                Hayır     Syndra                     6
Tank            Evet      Kayn/Rast                 12
                Hayır     Garen                      9